/*  your css code here. If applicable */
*{
	width:1100px;
}
div>img{
	width:1100px
}
.firstcol{
	width:200px
}
.secondcol{
	width:600px
}
.main_table{
	border:1px solid black;
}
td{
	border:1px solid black;
}